:root {
  background-color: #f7ece8 !important;
}

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  height: 100dvh !important; /* Forces height on mobile */
  overflow: hidden !important;
  background-color: #f7ece8 !important; /* Kills the white flash/bars */
  position: fixed; /* Prevents mobile scroll bounce */
}